:root {
    --label-font: bold 20pt Garamond;
    --body-font: 16pt "Times New Roman";
    --small-padding: 8pt;
    --default-padding: 12pt;
    --default-margin: 12pt;
    --very-large-padding: 36pt;


}

/* Html Tags*/
a:link { 			color: black; 		}
a:visited{ 			color: black; 		}
a:hover{ 			color: hotpink; 		}

body{ 
    font: var(--body-font);
    background-color: antiquewhite;

    padding-left:  var(--very-large-padding);
    padding-right: var(--very-large-padding);
 }

label{ font:  var(--label-font);}


tr {
    padding: var(--small-padding);
}
td{
    text-align: left;
    width: max-content;
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
}


/* Classes */


.navbar{
    background-color: cornsilk;
    margin: var(--default-margin);
    padding: var(--default-padding);
    color: black;
    font: var(--label-font) sans-serif;
}
.navbar-text{
    margin: var(--default-margin);
    padding: var(--default-padding);
    border-color: black;
}

.centerwrapper {
    text-align: center;
}

.centerdiv {
    display: inline-block;
    padding: var(--default-padding);
}
.form-group {
    font: var(--body-font) "Times New Roman";
    margin: var(--default-margin);
    padding: var(--default-padding);
}

.button_submit{
    background-color: rgb(71, 255, 71);
    color : white;
    font: var(--body-font) "Times New Roman";
    padding: var(--small-padding);
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
}

.profile {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.profile_text {
    font: var(--body-font) "Times New Roman";
}
.vax {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

table, th, td {
    border: 1px solid black;
}



/*  ID */

#logout{
    text-align: right;
    color: red;
}

#selected{
    background-color:aquamarine
}