<div class = "component">
    <h2>Add Close Contact by ID</h2>
    <div>
        <input type="submit" class="button" value="Add">
        <input type="text" name="HESCode" class="input" id="HESCode">
    </div>
</div>