<section class="hero is-success">
    <div class="hero-body">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <h2>Add Close Contact by ID</h2>
                <div>
                    <form method="post">
                        <input type="number" name="closeContact" class="input" id="closeContact">
                        <input type="submit" name="submit" class="button" value="Add">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>