<div class = "component">
    <h2> Close Contact List </h2>
    <div class="table">
        <table>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>ID</th>
                <th>Remove</th>
            </tr>
            {{#person}}
                <tr>
                    <td><img src="{{imgsource}}" alt="Avatar" style="height: 50px; width: 50px;"></td>
                    <td>{{name}}</td>
                    <td>{{id}}</td>
                    <td> <form method="POST"> <input type="submit" class="button" name="{{buttonname}}" value="Delete"/> </form> </td>
                </tr>
            {{/person}}
        </table>
    </div>
</div>