<section class="hero has-background-info-dark has-text-info-light">
    <div class="hero-body">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <h2><b> Class Information List</b></h2>
                <table class="table is-bordered is-striped is-narrow is-hoverable">
                    <tr>
                        <th>{{column1}}</th>
                        <th>{{column2}}</th>
                        <th>{{column3}}</th>
                    </tr>
                    {{#row}}
                        <tr>
                            <td>{{firstEl}}</td>
                            <td>{{secondEl}}</td>
                            <td>{{thirdEl}}</td>

                        </tr>
                    {{/row}}
                </table>
            </div>
        </div>
    </div>
</section>
