<div class="component is-info">
    <p class="title">Past Diagnosis</p>
    <div class="table is-bordered is-striped is-narrow is-hoverable">
        <table>
            <tr>
                <th>Date</th>
            </tr>
            {{#diagnosis}}
                <tr>
                    <th>{{date}}</th>
                </tr>
            {{/diagnosis}}
        </table>
    </div>
    <div class="table">
        <label for="start">Add new Diagnosis Information (Applied Date): <input type="date" id="start" name="trip-start"
                                                                                value="2018-07-22" min="2018-01-01"
                                                                                max="2018-12-31" class="button"></label>
        <div class="block"></div>
        <form method="post" enctype="multipart/form-data">
            Choose Your File
            <div class="file">
                <label class="file-label"> <input class="input" type="file" name="file"/> </label>
            </div>
            <input type="submit" class="button is-primary" value="Add New Diagnosis" name="add-diag"/>


            <!--<input type="submit" class="button is-success" name="add-diag" value="Add New Diagnosis">-->
            <!--<input type="submit" class="button" name="upd-diag" value="Update Diagnosis">-->

        </form>

    </div>
</div>