<section class="hero is-info">
    <div class="hero-body">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <h2><b>Reserve & Cancel Sports Hall Reservation</b></h2>

                <table class="table is-bordered is-striped is-narrow is-hoverable">
                    <tr>
                        <th> Name </th>
                        <th>Place</th>
                        <th>Day Slot</th>
                        <th>Time Slot</th>
                        <th> Quota </th>
                        <th>Reserve/Cancel</th>
                    </tr>
                    {{#enrolledevent}}
                        <tr>
                            <td>{{title}}</td>
                            <td>{{place}}</td>
                            <td>{{dayslot}}</td>
                            <td>{{timeslot}}</td>
                            <td>{{quota}}</td>
                            <td>
                                <form method="post" action="../events/index.php">
                                    <div class="control"><input type="hidden" name="cancel" value="{{eventId}}">
                                        {{^lErr}}
                                            <input type="submit" class="button is-warning" value="Leave">
                                        {{/lErr}}

                                        {{#lErr}}
                                            <input type="submit" class="button is-danger" value="Leave">
                                        {{/lErr}}

                                    </div>
                                    {{#lErr}}
                                        <p class="help is-danger">{{lErr}}</p>
                                    {{/lErr}}
                                </form>
                            </td>
                        </tr>
                    {{/enrolledevent}}
                    {{#notenrolledevent}}
                        <tr>
                            <td>{{title}}</td>
                            <td>{{place}}</td>
                            <td>{{dayslot}}</td>
                            <td>{{timeslot}}</td>
                            <td>{{quota}}</td>
                            <td>
                                <form method="post">
                                    <input type="hidden" name="enroll" value="{{eventId}}">

                                    {{^notAllowed}}
                                    <input type="submit"   class="button is-success" value="Enroll">
                                    {{/notAllowed}}

                                    {{#notAllowed}}
                                    <input type="submit"  disabled class="button is-danger" value="Enroll">
                                    <p class= "help is-danger"> {{notAllowed}}</p>
                                    {{/notAllowed}}


                                </form>
                            </td>
                        </tr>
                    {{/notenrolledevent}}
                </table>
            </div>
        </div>
    </div>
</section>