<div class="container">
    <h2> Enrolled Courses </h2>
    <div class="table">
        <table>
            <tr>
                <th>Course Code</th>
                <th>Lecture Date</th>
                <th>Leave Course</th>
            </tr>
            {{#event}}
                <tr>
                    <td>{{courseCode}}</td>
                    <td>{{lectureDate}}</td>
                    <td><input type="submit" class="button is-warning" value="Leave"></td>
                </tr>
            {{/event}}
        </table>
    </div>
    <div class="columns">
        <div class="column is-two-fifths">
            <form class="box" id="loginForm" action="" method="post">
                <div class="field">
                    <div class="control">
                        <input type="submit" class="button is-success" value="Add Course (By Pin)">
                        <input type="text" name="pin" class="input" id="pin">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>