<div class = "component">
    <h2> Past Events </h2>
    <div class="table">
        <table>
            <tr>
                <th>Course Code</th>
                <th>Lecture Date</th>
                <th>See Participants</th>
            </tr>
            {{#event}}
                <tr>
                    <td>{{courseCode}}</td>
                    <td>{{lectureDate}}</td>
                    <td> <a href="../../closecontact/see" class="button"> See </a> </td>
                </tr>
            {{/event}}
        </table>
    </div>
</div>