<section class="hero is-success">
    <div class="hero-body">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <h2><b>Course Code: {{courseCode}}<br>Date: {{date}}</b></h2>
                <table class="table is-bordered is-striped is-narrow is-hoverable">
                    <tr>
                        <th>Student Name</th>
                        <th>Add/Remove as Closed Contact</th>
                    </tr>
                    {{#addedStudent}}
                        <tr>
                            <td>{{name}}</td>
                            <td>
                                <form method="post">
                                <input type="submit" class="button" value="Remove" name="remove-{{name}}">
                                </form>
                            </td>
                        </tr>
                    {{/addedStudent}}
                    {{#nonAddedStudent}}
                        <tr>
                            <td>{{name}}</td>
                            <td>
                                <form method="post">
                                <input type="submit" class="button" value="Add" name="add-{{name}}">
                                </form>
                            </td>
                        </tr>
                    {{/nonAddedStudent}}
                </table>
            </div>
        </div>
    </div>
</section>