<section class="hero is-info">
    <div class="hero-body">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <h2><b>{{title}}</b></h2>
                <table class="table is-narrow is-striped is-hoverable">
                    <tr>
                        <th>{{column1}}</th>
                        <th>{{column2}}</th>
                        <th>{{column3}}</th>
                    </tr>
                    {{#row}}
                        <tr>
                            <td>{{firstEl}}</td>
                            <td>{{secondEl}}</td>
                            <td>
                                <form method="POST"><input type="submit" class="button" name="{{buttonname}}"
                                                           value={{value}}></form>
                            </td>
                        </tr>
                    {{/row}}
                </table>
            </div>
        </div>
    </div>
</section>