<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-thirds">
                    <form class="box" id="loginForm" action="" method="post">
                        <div class="field">
                            <div class="control">
                                <label for="userid">{{id}}
                                    {{#idErr}}
                                        <input type="number" name="userid" class="input is-danger" id="userid" min="1"
                                               required>
                                    {{/idErr}}
                                    {{^idErr}}
                                        <input type="number" name="userid" class="input" id="userid" min="1" required>
                                    {{/idErr}}
                                </label>
                            </div>
                            {{#idErr}}
                                <p class="help is-danger">{{idErr}}</p>
                            {{/idErr}}
                        </div>

                        <div class="field">
                            <div class="control">
                                <label for="password">{{pass}}
                                    {{^passErr}}
                                        <input type="password" name="password" class="input" id="password" required>
                                    {{/passErr}}
                                    {{#passErr}}
                                        <input type="password" name="password" class="input is-danger" id="password"
                                               required>
                                    {{/passErr}}
                                </label>
                            </div>
                            {{#passErr}}
                                <p class="help is-danger">{{passErr}}</p>
                            {{/passErr}}
                        </div>

                        <div class="field">
                            <div class="control">
                                <label for="ut">User Type</label>
                            </div>
                            <div class="select">
                                <select id="ut" name="usertype">
                                    <option value="student" selected>Student</option>
                                    <option value="academic_staff">Academic Personnel</option>
                                    <option value="sports_center_staff">Sports Center Staff</option>
                                    <option value="university_administration">Administrative Personnel</option>
                                </select>
                            </div>
                        </div>

                        <div class="field">
                            <input type="submit" class="button is-success" value="Login">
                        </div>
                    </form>

                    <a href="../register"> Dont Have an Account ?

                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
