<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>

    </style>
</head>
<body>

<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-thirds">
                    <form class="box" id="loginForm" action="" method="post">
                        <div class="field">
                            <div class="control">
                                <label for="userid">{{id}}
                                    <input type="number" name="userid" class="input" id="userid" min="1" required>
                                </label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <label for="password">{{pass}}
                                    <input type="password" name="password" class="input" id="password" required>
                                </label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <label for="ut">User Type</label>
                            </div>
                            <div class="select">
                                <select id="ut" name="usertype">
                                    <option value="student" selected>Student</option>
                                    <option value="academic_staff">Academic Personnel</option>
                                    <option value="sports_center_staff">Sports Center Staff</option>
                                    <option value="university_administration">Administrative Personnel</option>
                                </select>
                            </div>
                        </div>

                        <div class="field">
                            <input type="submit" class="button is-success" value="Login">
                        </div>
                    </form>

                    <a href = "../register" > Dont Have an Account ?

                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>
