<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../styles.css">
    <style>

    </style>
</head>
<body>

<div class="container">
    <nav class="navbar">
        <h4 class="navbar-text">ForThyHealth</h4>
    </nav>
    <div class="centerwrapper">
        <div class="centerdiv">
            <h2>Login For Thy Health</h2>
            <p>Please enter your {{id}} and {{pass}} to login.</p>

            <form id="loginForm" action="" method="post">
                <div class="form-group">
                    <label for="userid">{{id}}</label> <br>
                    <input type="text" name="userid" class="form-input" id="userid" required='true'>

                </div>
                <div class="form-group">
                    <label for="password">{{pass}}</label><br>
                    <input type="password" name="password" class="form-input" id="password" required='true'>

                </div>
                <div class="form-group">
                    <input type="submit" class="button button_submit" value="Login">
                </div>
            </form>
            <table class="navbar" align="center">
                <td>
                    <a href="../register" class="navbar-text">Register</a>
                </td>
            </table>
            
            <footer>
                <table class="navbar">
                    <tr>
                        <td>
                            <a href="../about" class="navbar-text">About</a>
                        </td>
                        <td>
                            <a href="../credits" class="navbar-text">Credits</a>
                        </td>
                        
                    </tr>
                </table>
            </footer>
        </div>
    </div>
</div>
</body>
</html>