{{#bm}}
    {{>markup}}
{{/bm}}
{{#i}}
    <u>
{{/i}}
{{#b}}
    <b>
{{/b}}
{{#u}}
    <i>
{{/u}}
{{#top}}
    {{top}}
{{/top}}
{{#i}}
    </i>
{{/i}}
{{#b}}
    </b>
{{/b}}
{{#u}}
    </u>
{{/u}}
{{#markup}}
    {{>markup}}
{{/markup}}
{{#bot}}
    {{bot}}
{{/bot}}