<header class="navbar">
    {{# links }}
        <a class="navbar-text" href="{{ href }}"
            {{# id }}
           id="{{ id }}"
            {{/ id }}
        >{{ title }}</a>
    {{/ links }}
</header>

