<h2> Past Lectures </h2>
    <table class="table">
        <tr>
            <th>Course Code</th>
            <th>Lecture Date</th>
        </tr>
        {{#event}}
            <tr>
                <td>{{courseCode}}</td>
                <td>{{lectureDate}}</td>
            </tr>
        {{/event}}
    </table>

