<section class="hero is-primary">
    <div class="hero-body">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <h2><b>Past Events</b></h2>
                <table class="table is-bordered is-striped is-narrow is-hoverable">
                    <tr>
                        <th>Course Code</th>
                        <th>Lecture Date</th>
                        <th>See Participants</th>
                    </tr>
                    {{#event}}
                        <tr>
                            <td>{{courseCode}}</td>
                            <td>{{lectureDate}}</td>
                            <td><a href="../../closecontact/see" class="button">See</a></td>
                        </tr>
                    {{/event}}
                </table>
            </div>
        </div>
    </div>
</section>