<div class="component">
    <p class="title">Past & Upcoming PCR Tests</p>
    <table class="table is-bordered is-striped is-narrow is-hoverable">
        <tr>
            <th>Date</th>
            <th>Result</th>
        </tr>
        {{#upcomingTest}}
            <tr>
                <td>{{date}}</td>
                <td><input type="submit" class="button" value="Cancel"></td>
            </tr>
        {{/upcomingTest}}
        {{#pastTest}}
            <tr>
                <td>{{date}}</td>
                <td>{{result}}</td>
            </tr>
        {{/pastTest}}
    </table>


    <div class="table">


        <label for="start">Add new Vaccine Information:</label>
        <br> </br>
        <b> Applied Day : </b>
        <input type="date" id="start" name="trip-start"
               value="2018-07-22"
               min="2018-01-01" max="2018-12-31">
        <br> </br>

        <input type="submit" class="button button_submit" value="Add Vaccine Card">

    </div>


    <input type="submit" class="button button_submit" value="Schedule PCR test">
</div>