<div class="component">
    <p class="title">Past & Upcoming PCR Tests</p>
    <table class="table is-bordered is-striped is-narrow is-hoverable">
        <tr>
            <th>Date</th>
            <th>Result</th>
        </tr>
        {{#upcomingTest}}
            <tr>
                <td>{{date}}</td>
                <td>
                    <form method="post">
                        <input type="submit" class="button is-warning" value="Cancel" name="remove-{{date}}">
                    </form>
                </td>
            </tr>
        {{/upcomingTest}}
        {{#pastTest}}
            <tr>
                <td>{{date}}</td>
                <td>{{result}}</td>
            </tr>
        {{/pastTest}}
    </table>


    <div class="table">

<form method="post">
        <label for="start">Schedule PCRTest:</label>
        <br> </br>
        <b>Applied Day: </b>
        <input type="datetime-local" id="start" name="trip-start"
               value="2018-01-01T23:59:59"
               min="2018-01-01T23:59:59" max="2018-12-31T23:59:59">
        <br> </br>

        <input type="submit" class="button" value="Schedule PCR Test">
</form>
    </div>

</div>