<div class="component is-info">
    <p class="title">Profile</p>
    <img src="/srcs/default_profile_pic.jpg" alt="Avatar" class="image is-128x128">


    <div class="content">
        <p>ID: {{id}}</p>
        <p>Name: {{name}}</p>
        <p>E-mail: {{email}}</p>
        <p>Allowance Status: {{allowance}}</p>
        <p>HES Code: {{hescode}}</p>
        <div class="control">
            <form class="box" id="hescodeForm" action="" method="post">
                <div class="field">
                    <div class="control">
                        <input type="submit" class="button is-info" value="Change HES Code">
                    </div>

                    <label for="HESCode"></label>
                    <input type="text" name="HESCode" class="input" id="HESCode" required minlength="1"
                           placeholder="Enter HES code">
                </div>
            </form>
        </div>
        <a class="is-link" href="/profile">Go to Profile Page</a>
    </div>

</div>