<div class = "component">
    <h2> Profile </h2>
    <img src="srcs/default_profile_pic.jpg" alt="Avatar" style="width:150px; height: 150px;">


    <div class="profile_text">
        <p>ID: {{id}}</p>
        <p>Name: {{name}}</p>
        <p>E-mail: {{email}}</p>
        <p>Allowance Status: {{allowance}}</p>
        <p>HES Code : {{hescode}}</p>
        <form class="box" id="hescodeForm" action="" method="post">
        <input type="submit" class="button button_submit" value="Change HES Code">
        <input type="text" name="HESCode" class="form-input" id="HESCode">
            </form>
    </div>

</div>