<div class="component is-info">
    <p class="title">Profile</p>
    <figure class="image is-128x128 is-inline-block">
        <img src="/srcs/default_profile_pic.jpg" class="is-rounded" alt="Avatar">
    </figure>


    <div class="content">
        <p>ID: {{id}}</p>
        <p>Name: {{name}}</p>
        <p>E-mail: {{email}}</p>
        {{^allowance}}
        <p class="has-text-danger">Allowance Status: <b>Not Allowed</b></p>
        {{/allowance}}
        {{#allowance}}
            <p class="has-text-success">Allowance Status: {{allowance}}</p>
        {{/allowance}}
        <p>HES Code: {{hescode}}</p>
        <div class="control">
            <form class="box" id="hescodeForm" action="" method="post">
                <div class="field">
                    <div class="control">
                        <input type="submit" class="button is-info" value="Change HES Code"> <label for="HESCode">
                        {{^hesErr}}
                            <input type="text" name="HESCode" class="input" id="HESCode" required minlength="1"
                                   placeholder="Enter new HES code">
                        {{/hesErr}}
                        {{#hesErr}}
                            <input type="text" name="HESCode" class="input is-danger" id="HESCode" required
                                   minlength="1" placeholder="Enter new HES code">
                        {{/hesErr}}
                    </label>

                    </div>
                    {{#hesErr}}
                        <p class="help is-danger">{{hesErr}}</p>
                    {{/hesErr}}
                </div>
            </form>
        </div>
    </div>

</div>