<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-thirds">
                    <form class="box" id="RegistrationForm" action="" method="post">
                        <div class="field">
                            <div class="control">
                                <label for="userid">{{id}}
                                    {{^idErr}}
                                        <input type="number" name="userid" class="input" id="userid" min="1" required>
                                    {{/idErr}}
                                    {{#idErr}}
                                        <input type="number" name="userid" class="input is-danger" id="userid" min="1"
                                               required>
                                    {{/idErr}}
                                </label>
                            </div>
                            {{#idErr}}
                                <p class="help is-danger">{{idErr}}</p>
                            {{/idErr}}
                        </div>

                        <div class="field">
                            <div class="control">
                                <label for="password">{{pass}} <input type="password" name="password" class="input"
                                                                      id="password" required> </label>
                            </div>
                        </div>

                        {{^CPE}}
                            <div class="field">
                                <div class="control">
                                    <label for="conP">Confirm Password<input type="password" name="conP" class="input"
                                                                             id="conP" required> </label>
                                </div>
                            </div>
                        {{/CPE}}
                        {{#CPE}}
                            <div class="field">
                                <div class="control">
                                    <label for="conP">Confirm Password<input type="password" name="conP"
                                                                             class="input is-danger" id="conP" required>
                                    </label>
                                </div>
                            </div>
                        {{/CPE}}
                        {{#CPE}}
                            <p class="help is-danger">{{CPE}}</p>
                        {{/CPE}}

                        <div class="field">
                            <div class="control">
                                <label for="BilkentEmail">{{mail}}
                                    {{^emailErr}}
                                        <input type="email" name="BilkentEmail" class="input" id="BilkentEmail"
                                               required>
                                    {{/emailErr}}
                                    {{#emailErr}}
                                        <input type="email" name="BilkentEmail" class="input is-danger"
                                               id="BilkentEmail" required>
                                    {{/emailErr}}
                                </label>
                            </div>
                            {{#emailErr}}
                                <p class="help is-danger">{{emailErr}}</p>
                            {{/emailErr}}
                        </div>


                        <div class="field">
                            <div class="control">
                                <label for="UserName">{{name}} <input type="text" name="UserName" class="input"
                                                                      id="UserName" required min="1"> </label>
                            </div>
                        </div>


                        <div class="field">
                            <div class="control">
                                <label for="UserSurname">{{surname}} <input type="text" name="UserSurname" class="input"
                                                                            id="UserSurname" required min="1"> </label>
                            </div>
                        </div>


                        <div class="field">
                            <input type="submit" class="button is-success" value="Registration">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>