{{# text}}
    {{# i }}
        <i>
    {{/ i }}
    {{# b }}
        <b>
    {{/ b }}
    {{# u }}
        <u>
    {{/ u }}
    {{ elem }}
    {{# u }}
        </u>
    {{/ u }}
    {{# b }}
        </b>
    {{/ b }}
    {{# i }}
        </i>
    {{/ i }}
{{/ text}}