<div class="container">
    <p class="title">Vaccine Info</p>

    <label for="start">Current Vaccines :</label>

    <table class="table is-bordered is-striped is-narrow is-hoverable">
        <tr>
            <th>Vaccination Date</th>
            <th>Vaccination Manufacturer</th>
        </tr>
        {{#vaccine}}
            <tr>
                <td>{{vaccineDate}}</td>
                <td>{{vaccineManufacturer}}</td>

            </tr>
        {{/vaccine}}
    </table>

    <div class="table">


        <form method="post" enctype="multipart/form-data">
            Choose Your File
            <div class="file">
                <label class="file-label"> <input class="input" type="file" name="file"/> <input type="submit"
                                                                                                 class="button is-primary"
                                                                                                 value="Add Vaccine Card"
                                                                                                 name="vaccinecard"/>
                </label>
            </div>
        </form>

    </div>


</div>
