<form method="post">
    Search by HES Code<br>
    <input type="text" id="HESCOde" name="HESCode" placeholder="Enter HES Code"><br>
    <input type="submit" value="Search">
</form>
<form method="post">
    Search by Id<br>
    <input type="text" id="Id" name="Id" placeholder="Enter Id"><br>
    <input type="submit" value="Search">
</form>

