<section class="hero is-primary">
    <div class="hero-body">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <form method="post">
                    Search a {{eventType}} by Name
                    <input class="input" type="text" id="HESCode" name="HESCode" placeholder="Enter the name">
                    <input class="button" type="submit" value="Search">
                </form>
            </div>
        </div>
    </div>
</section>

